<div class="row">
            
    <div class="col-md-12">
        <div class="block">
            <div class="block-head" style="border-bottom: 0px;">
                <h2>5 latest transactions</h2>
                <div class="block-head-form">
                    <button class="btn btn-primary"><i class="fa fa-eye"></i> View All</button>
                </div>
            </div>
            <div class="block-content np">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Payee name</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Date/Time</th>
                        <th>Fee</th>
                        <th>Manager</th>
                    </tr>
                    <tr>
                        <td>Angelina Jolie</td>
                        <td>$157.10</td>
                        <td>Dont forget about fee</td>
                        <td>20.01.2014 19:24</td>
                        <td>$30.42</td>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <td>Brad Pitt</td>
                        <td>$39.45</td>
                        <td>Delivery...</td>
                        <td>20.01.2014 18:55</td>
                        <td>$3.94</td>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <td>Martin Freeman</td>
                        <td>$78.00</td>
                        <td>Will pay by cash</td>
                        <td>20.01.2014 16:41</td>
                        <td>$0.00</td>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <td>Lucy Liu</td>
                        <td>$427.31</td>
                        <td>Call me...</td>
                        <td>20.01.2014 15:11</td>
                        <td>$15.71</td>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <td>Jonny Lee Miller</td>
                        <td>$65.15</td>
                        <td>Empty</td>
                        <td>20.01.2014 12:01</td>
                        <td>$5.65</td>
                        <td>John Doe</td>
                    </tr>                                            
                </table>
            </div>
        </div>                            
    </div>
    
</div>