<div class="col-md-9">
                            
    <div class="block">
        <div class="block-content">
            <div class="pull-left">
                <button type="button" class="btn btn-default nm"><i class="fa fa-refresh"></i></button>
                <div class="btn-group">                                            
                    <button type="button" class="btn btn-default"><i class="fa fa-share"></i></button>
                    <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i></button>
                </div>
                <button type="button" class="btn btn-default"><i class="fa fa-print"></i></button>
            </div>
            <div class="pull-right">                                        
                <div class="btn-group">                                            
                    <button type="button" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                    <button type="button" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
        <div class="block-content np">
            
            <table class="table table-striped table-hover">
                <tr>
                    <th width="20"><input type="checkbox" class="checkall"/></th>
                    <th width="20"></th>
                    <th>From</th>
                    <th>Subject</th>
                    <th></th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-green"></span></td>
                    <td><a href="#"><strong>Brad Pitt</strong></a></td>
                    <td><a href="#"><strong>Re: nec sodales dolor</strong></a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>5min ago</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-blue"></span></td>
                    <td><a href="#"><strong>John Doe</strong></a></td>
                    <td><a href="#"><strong>Lorem ipsum dolor sit amet</strong></a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>10:35</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-green"></span></td>
                    <td><a href="#">Angelina Jolie</a></td>
                    <td><a href="#">Quisque auctor tellus nisi</a></td>
                    <td></td>
                    <td>9:01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-red"></span></td>
                    <td><a href="#"><strong>Martin Freeman</strong></a></td>
                    <td><a href="#"><strong>Maecenas non felis tincidunt, rhoncus risus</strong></a></td>                                            
                    <td></td>
                    <td>Yesterday</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-red"></span></td>
                    <td><a href="#">Benedict Cumberbatch</a></td>
                    <td><a href="#">Nulla non venenatis nisl, nec sodales dolor</a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>Yesterday</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-red"></span></td>
                    <td><a href="#">Jonny Lee Miller</a></td>
                    <td><a href="#">Ut leo ante, sodales vitae semper</a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>Yesterday</td>
                </tr>                                        
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-yellow"></span></td>
                    <td><a href="#">Lucy Liu</a></td>
                    <td><a href="#">Re: Quisque auctor</a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>11.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group"></span></td>
                    <td><a href="#">John Doe</a></td>
                    <td><a href="#">Lorem ipsum dolor sit amet</a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>10.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-green"></span></td>
                    <td><a href="#">Angelina Jolie</a></td>
                    <td><a href="#">Quisque auctor tellus nisi</a></td>
                    <td></td>
                    <td>10.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group"></span></td>
                    <td><a href="#">Martin Freeman</a></td>
                    <td><a href="#">Maecenas non felis tincidunt, rhoncus risus</a></td>                                            
                    <td></td>
                    <td>09.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-red"></span></td>
                    <td><a href="#">Benedict Cumberbatch</a></td>
                    <td><a href="#">Nulla non venenatis nisl, nec sodales dolor</a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>08.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-red"></span></td>
                    <td><a href="#">Jonny Lee Miller</a></td>
                    <td><a href="#">Ut leo ante, sodales vitae semper</a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>08.01</td>
                </tr>                                        
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-yellow"></span></td>
                    <td><a href="#">Lucy Liu</a></td>
                    <td><a href="#">Re: Quisque auctor</a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>08.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group"></span></td>
                    <td><a href="#">John Doe</a></td>
                    <td><a href="#">Lorem ipsum dolor sit amet</a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>08.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-green"></span></td>
                    <td><a href="#">Angelina Jolie</a></td>
                    <td><a href="#">Quisque auctor tellus nisi</a></td>
                    <td></td>
                    <td>07.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group"></span></td>
                    <td><a href="#">Martin Freeman</a></td>
                    <td><a href="#">Maecenas non felis tincidunt, rhoncus risus</a></td>                                            
                    <td></td>
                    <td>07.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-yellow"></span></td>
                    <td><a href="#">Lucy Liu</a></td>
                    <td><a href="#">Re: Quisque auctor</a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>07.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-blue"></span></td>
                    <td><a href="#">John Doe</a></td>
                    <td><a href="#">Lorem ipsum dolor sit amet</a></td>
                    <td><i class="fa fa-paperclip"></i></td>
                    <td>05.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group group-green"></span></td>
                    <td><a href="#">Angelina Jolie</a></td>
                    <td><a href="#">Quisque auctor tellus nisi</a></td>
                    <td></td>
                    <td>05.01</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><span class="group"></span></td>
                    <td><a href="#">Martin Freeman</a></td>
                    <td><a href="#">Maecenas non felis tincidunt, rhoncus risus</a></td>                                            
                    <td></td>
                    <td>04.01</td>
                </tr>
            </table>
            
        </div>
        <div class="block-footer">
            <div class="pull-left"><strong>1-20</strong> of 387</div>
            <div class="pull-right">                                        
                <div class="btn-group">                                            
                    <button type="button" class="btn btn-default"><i class="fa fa-angle-left"></i></button>
                    <button type="button" class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
    
</div>