<div class="row">
    <div class="col-md-12">

        <div class="block">
            
            <div class="block-content">
                
                <div class="row">
                    <div class="col-md-3">
                        <h2>From John Doe</h2>
                        <strong>John Doe</strong><br>
                        44 Revutskogo, Suite 566<br>
                        Kyiv, UA 02140<br>
                        <abbr title="Phone">P:</abbr> +38 (012) 345-67-89
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <h2>To Enterprise</h2>
                        <address class="nm">
                            <strong>Enterprise, Inc.</strong><br>
                            321 Streeet, Suite 300<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> +38 (123) 456-7890<br/>
                            <abbr title="Phone">Fax:</abbr> +38 (987) 654-3210
                        </address>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <h2>Description</h2>                                    
                        <p>Vestibulum cursus augue sed leo tempor, at aliquam orci dictum. Sed mattis metus id velit aliquet, et interdum nulla porta. Etiam euismod pellentesque purus, in fermentum eros venenatis ut. Praesent vitae nibh ac augue gravida lacinia non a ipsum. Aenean vestibulum eu turpis eu posuere. Sed eget lacus lacinia, mollis urna et, interdum dui. Donec sed diam ut metus imperdiet malesuada. Maecenas tincidunt ultricies ipsum, lobortis pretium dolor sodales ut. Donec nec fringilla nulla. In mattis sapien lorem, nec tincidunt elit scelerisque tempus.</p>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th width="20"><input type="checkbox" class="checkall"/></th>
                                    <th>Description</th>
                                    <th width="10%">Price</th>
                                    <th width="10%">Quantity</th>
                                    <th width="10%">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" name="checkbox"/></td>
                                    <td>Web Design</td>
                                    <td>$800</td>
                                    <td>1</td>
                                    <td>$800</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="checkbox"/></td>
                                    <td>Programming</td>
                                    <td>$1,151.50</td>
                                    <td>1</td>
                                    <td>$1,151.50</td>
                                </tr>                                
                                <tr>
                                    <td><input type="checkbox" name="checkbox"/></td>
                                    <td>Logo Design</td>
                                    <td>$400</td>
                                    <td>1</td>
                                    <td>$400</td>
                                </tr>                                            
                            </tbody>
                        </table>
                    </div>
                </div>
                                                    
            </div>
            
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-5">

        <div class="block">
            <div class="block-head">
                <h2>Payment method: <span class="text-warning">International Transfer (SWIFT)</span></h2>                                                                        
            </div>
            <div class="block-content">                    
                <p><strong>Country:</strong> Ukraine</p>
                <p><strong>Holder's Name:</strong> John Doe</p>
                <p><strong>Number/IBAN:</strong> UA85 3996 2200 0000 0260 0123 3566 1</p>
                <p><strong>SWIFT Code:</strong> 1234567891</p>
                <p><strong>Bank Name in Full:</strong> Bank of Ukraine</p>
            </div>
        </div>                                               

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">

        <div class="block">
            <div class="block-head">
                <h2>Invoice</h2>                                    
            </div>
            <div class="block-content">                 
                <p><strong>Date invoice:</strong> Dec 20, 2012</p>
                <p><strong>Payment due:</strong> Dec 29, 2012</p>
                <p><strong>Payment status:</strong> <span class="text-success"><strong>Paid</strong></span></p>
                <p><strong>Amount Due:</strong> $2,351.50</p>
            </div>
        </div>                 

        <div class="block">
            <div class="block-content">
                <p><strong>Subtotal:</strong> $2,351.50</p>                        
                <p><strong>Total:</strong> $2,351.50</p>                        
            </div>
        </div>

    </div>
</div>