<div class="col-md-4">
                
    <div class="widget-window">
        <div class="window" style="padding: 0px;">
            <div id="europe-map" style="height: 250px;"></div>
        </div>
        <div class="window window-dark">
            <div class="window-block">
                <h4>Orders</h4>
                <p>1,954</p>                                    
                <h4>Total Amount</h4>
                <p>1,543,987.65</p>
                <h4>In Queue</h4>
                <p>15</p>
            </div>
            <div class="window-block pull-right">
                <div class="knob">
                    <input type="text" data-fgColor="#8CC152" data-min="0" data-max="100" data-width="100" data-height="100" value="15"/>
                </div>                                                  
            </div>
        </div>
    </div>                                                        
    
</div>