<div class="page-toolbar">
                        
    <div class="page-toolbar-block">
        <div class="page-toolbar-title">Inbox</div>
        <div class="page-toolbar-subtitle">Total messages: <strong>387</strong> (unread: <strong>8</strong>)</div>
    </div>
    
    <div class="page-toolbar-block pull-right">
        <div class="widget-info widget-from">
            <a href="pages-mailbox-new.html" class="btn btn-success"><i class="fa fa-plus"></i> New Message</a>                                
        </div>
    </div>
    
    <ul class="breadcrumb">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Mailbox</a></li>
        <li class="active">Inbox</li>
    </ul>
    
</div>