<div class="page-toolbar">
            
            <div class="page-toolbar-block">
                <div class="page-toolbar-title"><%=pageTitle%></div>
                <div class="page-toolbar-subtitle"><%=pageSubTitle%></div>
            </div>
            
            <div class="page-toolbar-block pull-right">
                <div class="widget-info widget-from">
                    <div id="reportrange" class="dtrange">                                            
                        <span></span><b class="caret"></b>
                    </div>                            
                </div>
            </div>           
            
        </div>  